<h1>Flight Search</h1>

<form>
  <div>
    <label for="from">From:</label>
    <input [(value)]="filterFrom" id="from" />
  </div>
  <div>
    <label for="to">To:</label>
    <input [(value)]="filterTo" id="to" />
  </div>
  <div>
    {{ flightRoute() }}
  </div>
  <div>
    <button
      type="button"
      (click)="search()"
      [disabled]="!filterFrom() || !filterTo()">
      Search
    </button>
    <button type="button" (click)="delay()">Delay</button>
  </div>
  @if (isLoading()) {
    <div>Loading ...</div>
  }
</form>

@if (!error()) {
  <div class="row">
    @for (flight of flightsWithDelay(); track flight.id) {
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <app-flight-card [item]="flight">
          <button
            [routerLink]="['../flight-edit', flight.id, { showDetails: true }]">
            Edit
          </button>
        </app-flight-card>
      </div>
    }
  </div>
} @else {
  <div>
    {{ error() }}
  </div>
}

<p>&nbsp;</p>
